<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container">
            <form id="inp-form" class="search-box" action="/" method="post">
                <input name="input" type="text" placeholder="Type the word here.." id="inp-word" />
                <button type="submit" id="search-btn">Search</button>
            </form>

            <div class="result" id="result">
                <% if (data && data.length > 0) { %>
                <div class="word">
                    <h3><%= data[0].word %></h3>
                </div>
                <div class="details">
                    <p><%= data[0].meanings[0].partOfSpeech %></p>
                    <p><%= data[0].phonetic %></p>
                </div>
                <p class="word-meaning"><%= data[0].meanings[0].definitions[0].definition %></p>
                <p class="word-example"><%= data[0].meanings[0].definitions[0].example || "" %></p>
                <% } else { %> <% if (data === undefined) { %>
                <h3 class="error">Couldn't Find The Word</h3>
                <% } else { %>
                <h3 class="error"></h3>
                <% } %> <% } %>
            </div>
        </div>
        <!-- Script -->
        <script src="script.js"></script>
    </body>
</html>
