<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <span class="navbar-brand mb-0 h1">EJS Table</span>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <% if (data && data.length > 0) { %> <% data.forEach((item) => { %>

                            <tr>
                                <th scope="row"><%= item.ID %></th>
                                <td><%= item.Name %></td>
                                <td><%= item.Age %></td>
                                <td><%= item.City %></td>
                            </tr>

                            <% }) %> <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%- include("./partials/cdn.ejs") %>
    </body>
</html>
